html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

#sideBar {
	width: 10%;
	height: 100%;
	color: white;
	font-family: monospace;
	background: dimgrey;
}

.sideBarElement {
	padding-top: 30%;
	padding-left: 5%;
}